.container {
  display: flex;
  /* flex-direction: column; */
  justify-content: start;
  align-items: flex-start;
  padding: 5px;
  margin: 5px;
  border: 2px solid black;
  width: 175px;
  height: 175px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: skyblue;
  border: 2px solid black;
  font-size: 20px;
}
